/* Palette de couleurs */
:root {
    --dark-green: #183D2C;
    --medium-green: #5B7769;
    --beige: #F9E6D8;
    --warm-brown: #C66D4D;
    --light-brown: #E2C6B0;
    --medium-brown: #B4875D;
}

/* Reset de base pour tous les éléments */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    color: var(--dark-green);
    background-color: var(--beige);
    line-height: 1.6;
    margin: 0; /* Supprime les marges par défaut */
}

header, footer {
    width: 100%; /* Prend toute la largeur de la page */
}

main {
    display: flex; /* Utilise Flexbox pour centrer */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    min-height: calc(100vh - 100px); /* Laissez de la place pour header et footer */
}




/* Header
=======================================================================================================================
*/

/* Style général du header */
header {
    background-color: var(--dark-green);
    padding: 50px 20px;
}

/* Enlève les puces et aligne les éléments du menu horizontalement */
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Style commun pour tous les liens */
header ul li a {
    color: var(--light-brown); /* Couleur du texte */
    text-decoration: none; /* Enlève les soulignements */
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none; /* Retire la bordure verte */
}

.accueil a {
    font-size: 50px;
    text-decoration: none;
    padding: 10px 20px;
    color: #4CAF50;
}

#connexion a, 
#nouveauCompte a,
#deconnexion a {
    background-color: var(--beige);
    margin-left: 15px;
    color: #183D2C;
}

#connexion a:hover, 
#nouveauCompte a:hover,
#deconnexion a:hover {
    background-color: var(--medium-brown);
}

/* "Verdo Sàrl" à gauche */
header ul li:first-child {
    font-size: 1.5rem;
    margin-right: auto;
}

/* Footer */
footer {
    background-color: var(--dark-green);
    color: var(--light-brown);
    text-align: center;
    padding: 50px 0;
    padding-right: 20px;
    padding-left: 20px;
}

/* Titre */
h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 50px;
    height: 4px;
    background: var(--warm-brown);
    transform: translateX(-50%);
    border-radius: 2px;
}

h2{
    text-align: center;
}

#donneesUtilisateur {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#donneesUtilisateur h2 {
    font-size: 1.8rem;
    color: #333;
    margin: 0 0 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

#donneesUtilisateur p {
    font-size: 1.1rem;
    color: #555;
    margin: 8px 0;
    padding: 5px 0;
    border-bottom: 1px solid #f1f1f1;
}

#donneesUtilisateur p:last-of-type {
    border-bottom: none;
}

/* Style pour le texte "Que veux-tu faire ?" */
.content p {
    font-size: 1.2rem;
    color: var(--dark-green);
    /*margin-bottom: 30px;
    /*text-align: center; /* Centrer ce texte */
}

/* Style pour la liste des actions avec formulaires uniquement pour .button-form */
ul.button-form {
    list-style: none;
    padding: 0;
}

ul.button-form li {
    margin: 15px 0;
    text-align: center;
}

ul.button-form li a {
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--medium-green);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

ul.button-form li a:hover {
    background-color: var(--warm-brown);
    transform: scale(1.05);
}


/* Formulaire */
form {
    background-color: var(--light-brown);
    border-radius: 5%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    display: flex; /* Utilisation de Flexbox */
    flex-direction: column; /* Les éléments sont empilés verticalement */
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    text-align: center; /* Texte centré */
    padding: 20px;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--dark-green);
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: var(--beige);
    color: var(--dark-green);
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus {
    background-color: var(--light-brown);
    outline: none;
    transform: scale(1.02);
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    flex: 1;
    padding-right: 40px;
    font-size: 16px;
    height: 40px;
}

.password-requirements {
    text-align: left;
    margin-top: 0px;
    font-size: 14px;
    color: var(--dark-green); /* Utilisation d'une variable de couleur pour le texte */
  }
  
  .requirement {
    margin: 2px 0;
    color: red; /* Rouge par défaut */
  }
  
  .requirement.valid {
    color: green; /* Vert lorsque le critère est satisfait */
  }
  
  .requirement.invalid {
    color: red; /* Rouge lorsque le critère n'est pas satisfait */
  }

/* Icône d'œil */
.icon-toggle-password,
.icon-toggle-confirm-password {
    position: absolute;
    right: 10px; 
    cursor: pointer;
    font-size: 18px; 
    color: var(--medium-green); 
    transition: color 0.3s;
}

/* Changer la couleur de l'icône au survol */
.icon-toggle-password:hover,
.icon-toggle-confirm-password:hover {
    color: var(--warm-brown); 
}

/* Bouton de soumission */
  /* Bouton de soumission */
  .button-soumission {
    background: linear-gradient(90deg, var(--warm-brown), var(--medium-brown));
    color: white;
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
    margin-top: 15px;
  }
  
  .button-soumission:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(198, 109, 77, 0.3);
  }
  
  .button-soumission:active {
    transform: translateY(1px);
    box-shadow: none;
  }

/* Liens */
a {
    text-decoration: none;
    color: var(--warm-brown);
    font-weight: bold;
    transition: color 0.3s;
}



/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}