html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* form {
    background-color: var(--light-brown);
    border-radius: 5%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    text-align: center; 
    padding: 20px;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
} */

label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--dark-green);
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 50%;
    margin: -25px 0 0 -25px;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: var(--beige);
    color: var(--dark-green);
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus {
    background-color: var(--light-brown);
    outline: none;
    transform: scale(1.02);
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    flex: 1;
    padding-right: 40px;
    font-size: 16px;
    height: 40px;
}

.password-requirements {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    color: var(--dark-green);
}

.requirement {
    margin: 5px 0;
    color: red;
}

.requirement.valid {
    color: green;
}

.icon-toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: var(--medium-green);
    transition: color 0.3s;
}

.icon-toggle-password:hover {
    color: var(--warm-brown);
}

/* Bouton de soumission */
  /* Bouton de soumission */
  .button-soumission {
    background: linear-gradient(90deg, var(--warm-brown), var(--medium-brown));
    color: white;
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
    margin-top: 15px;
  }
  
  .button-soumission:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(198, 109, 77, 0.3);
  }
  
  .button-soumission:active {
    transform: translateY(1px);
    box-shadow: none;
  }

/* Liens */
a {
    text-decoration: none;
    color: var(--warm-brown);
    font-weight: bold;
    transition: color 0.3s;
}